<p id="notice"><%= notice %></p>

<h1>Listing Household Members</h1>

<%= render 'index' %>

<%= link_to 'New Household member', new_applicant_household_member_path %>
<p><%= link_to 'Continue to Request Entry', applicant_requests_path %></p>

