<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<%= render 'index' %>

<%= link_to 'New Request', new_applicant_request_path %>
<p><%= link_to 'Continue to Review Application', applicant_requests_path %></p>

