<p id="notice"><%= notice %></p>

<h1>Listing Assets</h1>

<%= render 'index' %>


<%= link_to 'New Asset', new_applicant_asset_path %>
<p><%= link_to 'Continue to Household Member Entry', applicant_household_members_path %></p>

